<div class="card">
    <table class="table">
        <thead class="thead-dark">
          <tr >
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.email}}</td>
            <td>{{post.name}}</td>
            <td>{{post.body}}</td>
          </tr>
        </tbody>
      </table>
</div>